* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}

body {
    background-image: url('Background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    transition: background 0.3s ease-in-out;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-weight: 600;
}

hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #000;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    text-align: left;
    width: 90%;
    padding: 10px;
    margin: 5px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border: 2px solid #000;
}

#btnSignIn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    display: block;
    margin: 10px auto 0 auto;
    font-weight: bold;
}

#btnSignIn:hover {
    background-color: #32c93c;
}

#error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 11px;
    text-align: left;
    margin-left: 15px;
}